{% load bootstrap4 %}
{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver={% now '%f' %}">
</head>
<body>
    {% bootstrap_messages %}
    <div class="header p-3">

        <img src="{% static 'img/site/list.svg' %}" width="40px" height="40px" class="mobile-nav-button d-none">

        <div class="navigation-mobile d-none">
            <img src="{% static 'img/site/list.svg' %}" width="40px" height="40px" class="mobile-nav-button d-none">

            <span class="search"><form action="{% url 'articles' %}"  method="GET" class="search-form form-group"><input type="text" name="pattern" class="form-control d-inline-block pattern"><input type='image' name='submit'  class='search-submit' width="40px" height="40px"  src="{% static 'img/site/search.svg' %}" /></form></span>

            <h3 class="text-light">Лучшее за ...</h3>
                <a href="{% url 'articles_by_views' 'week' %}" class="d-block">Неделю</a>
                <a href="{% url 'articles_by_views' 'month' %}" class="d-block">Месяц</a>
                <a href="{% url 'articles_by_views' 'ever' %}">Все время</a>
                <h3 class="text-light">Категории</h3>
                {% for category in primary_categories %}
                    <a href="{% url 'articles_by_category' category.tag %}">{{ category.label }}</a>
                    <ul>
                        {% for secondary_category in secondary_categories %}
                            <li><a href="{% url 'articles_by_categories' category.tag secondary_category.tag %}">{{ secondary_category.label }}</a>
                        {% endfor %}
                    </ul>
                {% endfor %}
        </div>


        <a href="\">
            <img src="{% static 'img/site/logo.png' %}" alt="" class="logo">
        </a>

        <nav class="navigation d-inline-block">
            <div class="btn-group">
                    <button class="btn btn-outline-primary">Лучшее за ..</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a href="{% url 'articles_by_views' 'week' %}" class="dropdown-item">Неделю</a>
                        <a href="{% url 'articles_by_views' 'month' %}" class="dropdown-item">Месяц</a><a
                            href="{% url 'articles_by_views' 'ever' %}" class="dropdown-item">Все время</a>
                    </div>
                </div>
            {% for category in primary_categories %}
                <div class="btn-group">
                    <a href="{% url 'articles_by_category' category.tag %}" class="btn btn-outline-primary">{{ category.label }}</a>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      {% for secondary_category in secondary_categories %}
                          <a class="dropdown-item" href="{% url 'articles_by_categories' category.tag secondary_category.tag %}">{{ secondary_category.label }}</a>
                      {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <span class="search"><form action="{% url 'articles' %}"  method="GET" class="search-form form-group"><input type="text" name="pattern" class="form-control d-inline-block pattern"><input type='image' name='submit'  class='search-submit' width="40px" height="40px"  src="{% static 'img/site/search.svg' %}" />
</form></span>
        </nav><br>



        {%  if user.is_authenticated %}
            <div class="user-menu">
                <ul class="col nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
                            {{ user.username }}
                            {% if user.avatar %}
                                <img src="{{ user.avatar.url }}" alt="" class="user-avatar rounded-circle" width="40" height="40">
                            {% else %}
                                <img src="{{ user.email|gravatar_url:40 }}" height="40" width="40" class="rounded-circle">
                            {% endif %}
                        </a>

                        <div class="dropdown-menu">
                            <a href="{% url 'home' %}" class="dropdown-item">{{ user.username }}</a>
                            <a href="{% url 'home_change' %}" class="dropdown-item">Редактировать</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout' %}" class="dropdown-item badge-danger">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="sing">
                <span class="sing-in"><a href="{% url 'login' %}" class="link">Войти</a></span>
                <span class="sing-up"><a href="{% url 'sing_up' %}" class="link">Зарегистрироваться</a></span>
            </div>
        {% endif %}
    </div>
    <div class="site-content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer p-4">
        <a href="\">
            <img src="{% static 'img/site/logo.png' %}" alt="" class="logo">
        </a>

        <p class="info">
            Сайт был сделан в рамках проекта студента "АПОУ ВО "ВКСиИТ" группы "ИСП-120п".
        </p>
    </div>
    <script src="{% static 'js/sizer.js' %}?ver{% now '%f' %}" defer></script>
</body>
</html>