{% extends 'layout/base.html' %}


{% load bootstrap4 %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h1>{{ article.label }}</h1>
    <a href="{% url 'profile' article.author %}">
    {% if article.author.avatar %}
        <img src="{{ article.author.avatar.url }}" alt="" class="user-avatar rounded-circle  d-inline-block" width="40" height="40">
    {% else %}
        <img src="{{ article.author.email|gravatar_url:40 }}" height="40" width="40" class="rounded-circle d-inline-block">
    {% endif %} <span >{{ article.author.username }}</span></a><br>
    <city class="views">Просмотров: {{ article.views }}</city>
    {% autoescape off %}
        <div>{{ article.text }}</div>
    {% endautoescape %}

    <h3>Комментарии</h3>
    <div class="comments">
        {% if user.is_authenticated %}
            <div class="comment-form">
                {{ form.media }}
                {% bootstrap_form_errors form %}
                 <form method="POST">
                     {% csrf_token %}
                     {% bootstrap_form form %}
                     {% bootstrap_button button_type='submit' content='Отправить' %}
                 </form>
            </div>
        {% else %}
            <p class="attention">Если вы хотите комментировать, вам необходимо зарегистрироваться.</p>
        {% endif %}
        {% autoescape off %}
            <div class="comments-list">
                {% for comment in object_list %}
                    <div class="comment">
                        <h2 class="commenter-name d-inline-block">{{ comment.author.username }}</h2>
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" alt="" class="user-avatar rounded-circle" width="40" height="40">
                        {% else %}
                            <img src="{{ user.email|gravatar_url:40 }}" height="40" width="40" class="rounded-circle">
                        {% endif %}
                        <div class="comment-text">{{ comment.text }}</div>
                    </div>
                {% endfor %}
            </div>
         {% endautoescape %}
            <div class="pagination mt-4">
                {% bootstrap_pagination page %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/comment_slide.js' %}?ver={% now '%f' %}" defer></script>
{% endblock %}